## Movie Recommendation System using Boltzmann Machine

In [3]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
from torch.autograd import Variable
import torch.utils.data
import torch.optim as optim

In [7]:
movie = pd.read_csv('data/movies.dat', sep = '::', engine = 'python', header = None, encoding = 'latin-1')
rating = pd.read_csv('data/ratings.dat', sep = '::', engine = 'python', header = None, encoding = 'latin-1')
user = pd.read_csv('data/users.dat', sep = '::', engine = 'python', header = None, encoding = 'latin-1')

In [14]:
print ("movie data shape" + str(movie.shape))
print ("rating data shape" + str(rating.shape))
print ("user data shape" + str(user.shape))

movie data shape(3883, 3)
rating data shape(1000209, 4)
user data shape(6040, 5)

In [17]:
movie.head(5)

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [18]:
rating.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [19]:
user.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

0                                              7711830
1    Toy Story (1995)Jumanji (1995)Grumpier Old Men...
2    Animation|Children's|ComedyAdventure|Children'...
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
0    3883 non-null int64
1    3883 non-null object
2    3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB